@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
*, *::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #F67E7E;
  color: #fff;
}

*::selection {
  background-color: #F67E7E;
  color: #fff;
}

body {
  font-family: "Livvic", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
}

input {
  outline: none;
}

@media only screen and (min-width: 370px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 165px;
    padding-right: 165px;
  }
}
header {
  padding-top: 48px;
  background-color: #014E56;
}
header .container {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .container .navwrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 80px;
  background-color: #000;
  color: #fff;
  opacity: 0.5;
  padding-left: 30px;
  padding-right: 30px;
}
header .container .navwrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navwrapper ul li {
  width: 100%;
  text-align: center;
}
header .container .navwrapper ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: unset;
  color: #fff;
  margin-bottom: 0px;
}
header .container .navwrapper button {
  width: 153px;
  height: 48px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}
header .container .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  header .container .logo__wrapper {
    margin-right: 48px;
  }
  header .container .ham__wrapper {
    display: none;
  }
  header .container .navwrapper {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header .container .navwrapper ul {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .navwrapper ul li {
    all: unset;
    position: relative;
  }
  header .container .navwrapper ul li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: unset;
    color: #fff;
    margin-bottom: 0px;
  }
  header .container .navwrapper ul li:first-child {
    margin-right: 42px;
  }
  header .container .navwrapper ul li::before {
    content: "";
    background: #79C8C7;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
  }
  header .container .navwrapper ul li:hover {
    background-position: 0;
  }
  header .container .navwrapper ul li:hover::before {
    width: 100%;
  }
  header .container .navwrapper button {
    width: 153px;
    height: 48px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  header .container .logo__wrapper {
    margin-right: 80px;
  }
}
.banner {
  background-color: #014E56;
}
.banner .container {
  padding-top: 80px;
  width: 100%;
  background-image: url("../../img/container__bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 197px;
}
.banner .container .content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .container .content__wrapper h1 {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
}
.banner .container .content__wrapper h1 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #F67E7E;
  margin-bottom: 0;
}
.banner .container .content__wrapper p {
  width: 327px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .container .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 683px;
  }
  .banner .container .content__wrapper h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
  }
  .banner .container .content__wrapper h1 span {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #F67E7E;
    margin-bottom: 0;
  }
  .banner .container .content__wrapper p {
    width: 457px;
  }
}
@media only screen and (min-width: 992px) {
  .banner {
    background-image: url("../../img/banner__left.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .banner .container {
    padding-top: 129px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: right 165px bottom;
  }
  .banner .container .content__wrapper {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .banner .container .content__wrapper h1 {
    width: 542px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
  }
  .banner .container .content__wrapper p {
    width: 457px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
  }
  .banner .container .content__wrapper p::before {
    content: "";
    width: 50px;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #79C8C7;
    display: block;
    margin-bottom: 79px;
  }
}
.section__three {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #012F34;
  background-image: url("../../img/section__three.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
.section__three .container .content__wrapper {
  width: 240px;
  margin-bottom: 56px;
}
.section__three .container .content__wrapper h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: unset;
  color: #fff;
  margin-bottom: 0px;
}
.section__three .container .content__wrapper h2::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 32px;
}
.section__three .container .cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
.section__three .container .cards__wrapper .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
.section__three .container .cards__wrapper .card .img__wrapper {
  margin-bottom: 16px;
  width: 56px;
  height: 56px;
  background-color: #2C6269;
  position: relative;
  border-radius: 50%;
}
.section__three .container .cards__wrapper .card .img__wrapper img {
  position: absolute;
  top: -16px;
  left: -16px;
}
.section__three .container .cards__wrapper .card .card__content {
  width: 100%;
  max-width: 478px;
}
.section__three .container .cards__wrapper .card .card__content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #F67E7E;
  margin-bottom: 8px;
}
.section__three .container .cards__wrapper .card .card__content p {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}
.section__three .container .cards__wrapper .card:not(:last-child) {
  margin-bottom: 48px;
}

@media only screen and (min-width: 670px) {
  .section__three .container .content__wrapper {
    margin-bottom: 64px;
    width: 445px;
  }
  .section__three .container .cards__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .section__three .container .cards__wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .section__three .container .cards__wrapper .card .img__wrapper {
    margin-right: 23px;
  }
  .section__three .container .cards__wrapper .card .card__content h3 {
    text-align: left;
    margin-bottom: 16px;
  }
  .section__three .container .cards__wrapper .card .card__content p {
    text-align: left;
  }
  .section__three .container .cards__wrapper .card:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .section__three .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .section__three .container .content__wrapper {
    width: 445px;
  }
  .section__three .container .content__wrapper h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: unset;
    color: #fff;
    margin-bottom: 0px;
  }
  .section__three .container .cards__wrapper {
    width: 540px;
  }
  .section__three .container .cards__wrapper .card {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}
.section__fourth {
  padding-top: 140px;
  padding-bottom: 164px;
  background-color: #004047;
  background-image: url("../../img/section__fourth__top.svg"), url("../../img/section__fourth__bottom.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}
.section__fourth .container .content__Wrapper {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
.section__fourth .container .content__Wrapper h2 {
  max-width: 573px;
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}
.section__fourth .container .content__Wrapper h2 span {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: unset;
  color: #79C8C7;
  margin-bottom: 0px;
}
.section__fourth .container .cards__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
.section__fourth .container .cards__wrapper .card {
  max-width: 573px;
  background-image: url("../../img/quote.svg");
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
.section__fourth .container .cards__wrapper .card:not(:last-child) {
  margin-bottom: 48px;
}
.section__fourth .container .cards__wrapper .card .dec {
  margin-bottom: 16px;
}
.section__fourth .container .cards__wrapper .card .dec p {
  width: 100%;
}
.section__fourth .container .cards__wrapper .card .dec p:first-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.section__fourth .container .cards__wrapper .card .dec p:last-child {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
  font-family: italic;
}
.section__fourth .container .cards__wrapper .card .dec h3 {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #79C8C7;
  margin-bottom: 2px;
}

@media only screen and (min-width: 992px) {
  .section__fourth .container .cards__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    gap: 30px;
  }
  .section__fourth .container .cards__wrapper .card {
    width: 350px;
  }
}
.last__section {
  background-color: #F67E7E;
  padding-top: 83px;
  padding-bottom: 83px;
  background-image: url("../../img/last__sectionbg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.last__section .container .content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.last__section .container .content__wrapper h2 {
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #012F34;
  margin-bottom: 24px;
}
.last__section .container .content__wrapper button {
  width: 153px;
  height: 48px;
  border: 2px solid #012F34;
  background-color: transparent;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #012F34;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .last__section .container .content__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .last__section .container .content__wrapper h2 {
    max-width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: left;
    color: #012F34;
    margin-bottom: 0px;
  }
  .last__section .container .content__wrapper button {
    width: 153px;
  }
}
@media only screen and (min-width: 992px) {
  .last__section .container .content__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .last__section .container .content__wrapper h2 {
    max-width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: left;
    color: #012F34;
    margin-bottom: 0px;
  }
  .last__section .container .content__wrapper button {
    width: 153px;
  }
}